@model CRUDDemo.Data.Entities.Movies

@{
    ViewBag.Title = "MovieDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper ratingStars(int count)
{
    for (int i = 0; i < count; i++)
    {
        <li class="fa fa-star"></li>
    }
    for (int i = count; i < 5; i++)
    {
        <li class="fa fa-star disable"></li>
    }
}

<script>
    $(document).ready(function () {
@*        shared view... how to decide*@
        if ($("#MovieName").val() == "New Movie") {
            $("#MovieName").removeAttr("disabled")
            $("#Rate").removeAttr("disabled")
            $("#Comment").removeAttr("disabled")
            $("#imgUpload").removeAttr("disabled")
            $("#submit-button").removeAttr("disabled")
            $("#edit-button").hide()
        }
        
        $('#imgUpload').change(function() {
            const file = this.files[0];
            $('#ImgField img').attr('src', "../../Content/Images/Movies/"+file.name);
            $('#Picture').val(file.name);
            $('#imgUpload').hide();
        });
    });

    function Edit() {
        $("#Rate").removeAttr("disabled")
        $("#Comment").removeAttr("disabled")
        $("#imgUpload").removeAttr("disabled")
        $("#imgShow").css("cursor","pointer")
        $("#submit-button").removeAttr("disabled")
    }
@*    nope*@
@*    function Submit() {
        $("#Rate").attr("disabled", "disabled")
        $("#Comment").attr("disabled", "disabled")
        $("#submit-button").attr("disabled", "disabled")
    }*@
@*    works*@
    $("#submit-button").click(function () {
        $("#Rate").attr("disabled", "disabled")
        $("#Comment").attr("disabled", "disabled")
        $("#imgUpload").attr("disabled", "disabled")
        $("#submit-button").attr("disabled", "disabled")
    });
</script>

<div class="container">
    <h3 class="h3">Movie Detail</h3>
@*    (action method,controller,FormMethod) for submitting the form*@
    @using (Html.BeginForm("Detail", "Movies", FormMethod.Post, new { @class = "item-form" }))
    {
        <div class="form-row">
            @*<label class="control-label col-md-2">Movie Name</label>
            <input id="MovieName" class="form-control" placeholder="Movie Name" autofocus="" disabled="disabled" value="@ViewBag.movieThis.MovieName" />*@
            @Html.LabelFor(m => m.MovieName, "Movie Name", new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(m => m.MovieName, new { @class = "form-control", placeholder = "Movie Name", autofocus = "", disabled = "disabled" })
        </div>
        <div class="form-row">
            @Html.LabelFor(m => m.Rate, "Rate", new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(m => m.Rate, new { @class = "form-control", placeholder = "Rate", autofocus = "", disabled = "disabled" })
            @Html.ValidationMessageFor(m => m.Rate, "", new { @class = "text-danger" })
        </div>
        <div class="form-row">
            @Html.LabelFor(m => m.Comment, "Comment", new { @class = "control-label col-md-2" })
            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder = "Comment", autofocus = "", disabled = "disabled" })
        </div>
        <div class="form-row" id="ImgField">
            @Html.LabelFor(m => m.Picture, "Picture", new { @class = "control-label col-md-2 "})
            <input type="file" id="imgUpload" disabled = "disabled" style="display:none;"/>
            <img id="imgShow" src="../../Content/Images/Movies/@Model.Picture"  style="max-width:25%; max-height:25%;" onclick="$('#imgUpload').click();" onerror="this.onerror=null;this.src='';$('#imgUpload').show();">
            @Html.TextBoxFor(m => m.Picture, new { @class = "form-control",style="display:none"})
        </div>
        <div class="form-row">
            <input id="edit-button" type="button" class="btn btn-md btn-primary" value="Edit" onclick="Edit()" />
            <button id="submit-button" class="btn btn-md btn-primary" type="submit" disabled="disabled">Submit</button>
        </div>
    }
</div>
