@helper IconBars(int count)
{
    for (int i = 0; i < count; i++)
    {
        <span class="icon-bar"></span>
    }
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                @IconBars(3)
            </button>
            @******(text,viewName[under the view folder matched w controller],controllerName)******@
            @Html.ActionLink("Doujia", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @*                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                <li>@Html.ActionLink("Movies", "Index", "Movies")</li>        
            </ul>
        </div>
    </div>
</div>
